/*Common Styles*/
* {
    font-family: 'Parisienne', cursive;
    font-style: italic;
}

html, body {
    margin: 0;
    min-width: 320px;
    background: #000000;
}

/*Main Styles*/
.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-value {
    font-size: 8rem;
    color: white;
    margin: 0 0 8vh;
}

/*Piano Styles*/
.piano {
    display: flex;
    width: 90%;
}

.octave {
    display: flex;
    gap: 0.2vw;
    margin-right: 0.2vw;
    width: 100%;
}

.white-btn,
.black-btn {
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.35s ease-in;
}

.white-btn:focus,
.black-btn:focus {
    outline: none;
    user-select: none;
}

.white-btn {
    display: block;
    height: 25vh;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    border: 0;
    border-radius: 8px;
}

.black-btn {
    content: '';
    height: 15vh;
    width: calc(200% / 3);
    background-color: #000000;
    position: absolute;
    top: 0;
    left: calc(200% / 3);
    z-index: 2;
    border-radius: 0 0 8px 8px;
}

.white-btn-opacity {
    background-color: rgba(255, 255, 255, 0.6);
}

.black-btn-opacity {
    background-color: rgb(80, 80, 80);
}

.key-value {
    opacity: 0;
    position: absolute;
    bottom: 10%;
    font-size: 0.9vw;
    left: 0;
    width: 100%;
    transition: opacity 0.25s ease-out 0.05s;
}

.white-btn:not(.hover-propagation):hover > .key-value,
.black-btn:hover > .key-value,
.key-value-hover {
    opacity: 1;
}

.black-btn > .key-value {
    color: white;
}

/*Responsiveness Styles*/
@media (max-width: 1024px) {
    body {
        transform: rotate(90deg);
        overflow: hidden;
    }

    .main-content {
        height: 100vw;
        width: 100vh;
    }

    .white-btn {
        height: 30vw;
    }

    .black-btn {
        height: 20vw;
    }

    .note-value {
        font-size: 5rem;
        margin: 0 0 8vw;
    }

    .key-value {
        font-size: 1rem;
    }
}
